/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

@media only screen and (max-width: 768px){

    *{
 font-family: 'Poppins', sans-serif;
    }

    body {
        margin: 0;
    }


    /**/
    .nav-bar-box {
    border-bottom: 1px solid #e0e0e0;
      display: flex;
      flex-direction: row;
      justify-content:space-between;
      position: fixed;
      top: 0;
      width: 100%;
      overflow: hidden;
      background-color: white;
    }

    .nav-bar-slack-logo {
        height: 3rem;
        margin: 1rem 0 1rem 1.5rem ;
    }

    .nav-bar-menu {
        height: 1.3rem;     
        margin: 1.8rem 2rem 0 2rem;     
    }


    /**/
    .header-box {
        margin-top: 8rem;
        border-bottom: 1px solid #e0e0e0;
    }

    .header-h1 {
        font-family: 'Playfair Display', sans-serif;
        font-weight: 800;
        font-size: 2rem;
        margin: 2rem 1.5rem;
        color: #323747;
    }

    .header-p {
        font-size: 0.9rem;
        margin: 0 1.5rem 2rem 1.5rem;
        color: #5b5e6d;
        line-height: 1.5rem;
    }

    .header-email-box {
        display: flex;
        flex-direction: column;
        margin: 0 1.5rem;
    }

    .header-email {
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 0.2rem;
        border: 1px solid #EDEDED;
    }

    .header-email-btn {
        padding: 1rem;
        border-radius: 0.2rem;
        background-color: #4049AA;
        color: white;
        font-weight: 600;
        border: 1px solid #4049AA;
    }

    .header-email-p {
        text-align: center;
        margin: 1rem 0 3rem 0;
        font-size: 0.8rem;
        color: #5b5e6d;
        text-underline-position: under;
    }


    /**/
    .main-div-box {
        background-color: #F4F3F4;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #e0e0e0;
    }

    .main-div-h2 {
        font-family: 'Playfair Display', sans-serif;
        font-weight: 800;
        font-size: 1.5rem;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 1rem;
        color: #323747;
    }

    .main-div-p {
        font-size: 0.8rem;
        text-align: center;
        margin: 0 2rem 2rem 2rem;
        color: #656875;
        line-height: 1.4rem;
    }

    .main-div-btn {
        padding: 1rem;
        border-radius: 0.2rem;
        background-color: white;
        color: #4049AA;
        font-weight: 600;
        border: 1px solid #4049AA;
        margin: 0 1.5rem 2rem 1.5rem;
    }

    .main-div-img-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .main-div-img {
        width: 10rem;
        border-bottom: 1px solid #e0e0e0;
        padding: 2rem 4rem;
    }

    .main-div-img-a {
        width: 10rem;
        padding: 2rem 3rem 5rem 3rem;
    }

    .main-div-try-box {
        border-bottom: 1px solid #e0e0e0;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 3rem 1.5rem 3rem 1.5rem;
    }

    .main-div-try-h2 {
        color: #323747;
    font-family: 'Playfair Display', sans-serif;
    font-size: 1.3rem;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
    }

    .main-div-try-p {
        font-size: 0.9rem;
        margin-top: 0;
        text-underline-position: under;
    }

    .main-div-try-email {   
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 0.2rem;
        border: 1px solid #EDEDED;
    }

    .main-div-try-btn {
    padding: 1rem;
    border-radius: 0.2rem;
    background-color: #4049AA;
    color: white;
    font-weight: 600;
    border: 1px solid #4049AA;
    }


    /**/
    .footer-box {
        border-bottom: 1px solid #e0e0e0;
    }

    .footer-img {
        height: 7rem;
        margin-top: 1.5rem;
    }

    .footer-div-box {
        display: flex;
        flex-direction: column;
    }

    .footer-div-ul-box {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .footer-div-ul-box-b {
        margin-bottom: 1rem;
    }

    .footer-div-ul {
        margin-top: 0;
        list-style-type: none;
        padding-left: 2rem;
    }

    .footer-div-ul-a {
        margin-left: 1.5rem;
    }

    .footer-div-li {
        font-size: 0.9rem;
      line-height: 2.5rem;
        color: #6E707B;
    }

    .footer-div-li-a {
        font-weight: 600;
        font-size: 1rem;
        margin-top: 1rem;
    }


    /**/
    .last-footer-div-box {
        border: 1px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #F4F3F4;       
        background-color: #F4F3F4;
        margin-top: 0;
        padding-top: 0;
    }


    .last-footer-div-ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        font-size: 0.7rem;
        font-weight: 700;
        color: #6D6F7A;
    }

    .last-footer-div-li {
        padding-right: 1rem;
    }

    .last-footer-img {
        height: 1rem;
        width: 1rem;
        padding-right: 0.5rem;
    }

    .fas {
        padding-left: 0.5rem;
    }

    .last-footer-lang {
        font-size: 0.7rem;
        font-weight: 700;
        color: #6D6F7A;
        margin-bottom: 1rem;
        align-items: center;
    }

    .last-footer-socials {
        display: flex;
        flex-direction: row;   
    }

    .fab {
        padding-right: 1rem;
        margin-bottom: 1rem;
    }
    }